@charset "UTF-8";
/* default styles and fixes */
*,*:before,*:after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body {
	height: 100%;
}
table {
	border-collapse: collapse;
}
.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
}
.float-left {
	display: inline-block;
	float: left;
}
.float-right {
	display: inline-block;
	float: right;
}
html {
	font: 24px/1.25 Helvetica,Arial,sans-serif;
	line-height: 1.18;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
input,select,textarea {
	font: 100% Helvetica,Arial,sans-serif;
}
code,pre {
	font-family: "Inconsolata","Consolas","Monaco",monospace;
}

/* portrait */
@media (max-width:70em) {
}

/* landscape */
@media (min-width:70em) {
}
/* ipad landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}
/* ipad portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/*

Structure

*/

body {
	background:#444;
}

.button {
	padding: 0.3em;
}

#dashboard {
	position: relative;
	margin: 0 auto;
	background: #ccc;
	width: 50em;
	height: 30em;
}

#nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 50em;
	width: 3em;
}
#nav ul {
}
#nav ul li {
}
#nav ul li a {
	display: inline-block;
	width: 3em;
	height: 3em;
	padding: 0.5em;
	text-align: center;
}
#nav ul li a i {
	font-size: 150%;
}

#panel-1 {
	position: absolute;
	left: 3em;
	height: 50em;
	width: 47em;
}
#info {
	position: absolute;
	top: 0;
	left: 0;
	width: 47em;
	height: 3em;
}
#info .gig-name, #info .gig-location, #info .gig-venue, #info .gig-date {
}
#info .gig-name {
}
#info .gig-location {
}
#info .gig-venue {
}
#info .gig-date {
}

#feed {
	position: absolute;
	top: 3em;
	left: 0;
	width: 47em;
	height: 47em;
	overflow-x: hidden;
	overflow-y: auto;
}
#feed.request, #feed.gig {
}
#feed.request {
}
#feed.gig {
}

#feed .request {
	width: 47em;
	min-height: 3em;
}
#feed .request.selected {
}
#feed .request .from, #feed .request .body, #feed .request .time {
}
#feed .request .from {
}
#feed .request .body {
}
#feed .request .time {
}
#feed .request a.played {
	padding:0;
}
#feed .request a.played i {
}
#feed .request a.ignore {
	padding:0;
}
#feed .request a.ignore i {
}
#feed .request a.more {
	padding:0;
}
#feed .request a.more i {
}

#feed .request .response-options {
	height: 8em;
	display: none;
}
#feed .request .response-options select.canned-responses {
}
#feed .request .response-options textarea {
}
#feed .request .response-options a.respond {
}


/* 

Styling


*/ 

#nav {
	background: #fcc;
}
#nav ul {
}
#nav ul li {
}
#nav ul li a {
}
#nav ul li a i {
}

#panel-1 {
	background: #ccf;
}
#info {
	background: #cfc;
}
#info .gig-name, #info .gig-location, #info .gig-venue, #info .gig-date {
}
#info .gig-name {
}
#info .gig-location {
}
#info .gig-venue {
}
#info .gig-date {
}

#feed {
	background: #fcf;
}
#feed.request, #feed.gig {
}
#feed.request {
}
#feed.gig {
}

#feed .request {
	background: #ccc;
}
#feed .request.selected {
}
#feed .request .from, #feed .request .body, #feed .request .time {
}
#feed .request .from {
}
#feed .request .body {
}
#feed .request .time {
}
#feed .request a.played {
}
#feed .request a.played i {
}
#feed .request a.ignore {
}
#feed .request a.ignore i {
}
#feed .request a.more {
}
#feed .request a.more i {
}



}
#feed .response-options {
}
#feed .response-options select.canned-responses {
}
#feed .response-options textarea {
	background-color: #fff;
}
#feed .response-options a.respond {
}

/* 



*/

#dashboard * {
	border: 1px solid #000;
}


#nav {
}
#nav ul {
}
#nav ul li {
}
#nav ul li a {
}
#nav ul li a i {
}

#panel-1 {
}
#info {
}
#info .gig-name, #info .gig-location, #info .gig-venue, #info .gig-date {
}
#info .gig-name {
}
#info .gig-location {
}
#info .gig-venue {
}
#info .gig-date {
}

#feed {
}
#feed.request, #feed.gig {
}
#feed.request {
}
#feed.gig {
}

#feed .request.selected {
}
#feed .request .from, #feed .request .body, #feed .request .time {
}
#feed .request .from {
}
#feed .request .body {
}
#feed .request .time {
}
#feed .request a.played {
}
#feed .request a.played i {
}
#feed .request a.ignored {
}
#feed .request a.ignored i {
}
#feed .request a.more {
}
#feed .request a.more i {
}
#feed .response-options {
}
#feed .response-options select.canned-responses {
}
#feed .response-options textarea {
}
#feed .response-options a.respond {
}
