@import url("fonts.css");

html * { margin:0; padding:0; } 

body { 
  background-color: #333;
  background-image: url('images/background.jpg');
  background-size: cover;
  color: #fff;
}

body * { 
  /*font-family: 'proxima-nova', sans-serif; 
  font-weight: 400; */

  font-family: "Helvetica Neue";
  font-weight:100;
  
  font-size: 18px;
}

h1, h2, h3, h4 { font-weight: 100; margin-bottom: 0.5em; }

p { margin-bottom: 0.5em; }

#content { 
  width: 80%; 
  min-width: 640px; 
  max-width: 800px; 
  margin: 0 auto; 
  padding: 1em; 
}
#content { 
  background: rgba(0,0,0,0.3);
}

#content h1 {
  font-size: 100px;
  text-align:center;
  margin-top: 25px;
}

table { border-collapse:collapse; margin-bottom: 0.5em; border-radius: 4px; }
table, th, td { border: 1px solid #000; padding: 0.3em; }

html { height: 100%; }
body { height: 100%; }
#content { height: 100%; }

div.error { 
  clear:both;
  padding:1em;
  margin:1em;
  border:1px solid #f00;
  background:#fcc; 
  border-radius: 4px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
}

div.success { 
  clear:both;
  padding:1em;
  margin:1em;
  border:1px solid #0c0;
  background:#cfc; 
  border-radius: 0.5em;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
}

div.error p strong { font-size: 120%; }

div.success p strong { font-size: 120%; }

div#registration {
  margin: 0 auto;
  width: 600px;
  padding: 1em;
  margin-top: 20px;
}

form#registration-form {
  
}

form#registration-form label {
  display: block;
  width: 240px;
  float:left;
  margin-bottom: 1.0em;
  font-size: 25px;
  text-transform:uppercase;
  padding: 5px;
  padding-bottom: 0;
  color:#fff;
}

form#registration-form input.textbox {
  width: 335px;
  font-size: 25px;
  padding: 5px 5px 0 10px;
  border: none;
  background-color:rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(0,80,130,0.9);
  color:#fff;
}

form#registration-form input:focus {
  outline:none;
}

form#registration-form input.textbox:focus {
  background-color:rgba(255,255,255,0.5);
}


form#registration-form br {
  clear: both;
}

form#registration-form .submit-button {
  width: 600px;
  height: 60px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,1.0);
  background: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 25px;
  text-transform:uppercase;
  opacity: 1.0;
  color: #fff;
}

form#registration-form .submit-button:disabled {
  opacity: 0.5;
  color:#000;
}

form#registration-form .submit-button:focus {
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(50,50,50,0.6);
}

form#registration-form .submit-button:hover {
  background: rgba(100,100,100,0.6);
}

pre {
  font-family: 'Monaco', monospace;
  font-size: 15px;
  padding:1em;
  margin:1em;
  border-radius:0.5em;
  background: rgba(0,0,0,0.3);
  border:1px solid rgba(0,0,0,0.8);
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
}

div#registration div#errors {
  margin-bottom: 20px;
}
div#registration div#errors li {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  color: #f21;
  border: 1px solid rgba(255,0,0,0.5);
  background: rgba(255,0,0,0.25);
}