RewriteEngine On

RewriteRule ^test?$ index.php?a=test [NC,L]
RewriteRule ^home?$ index.php?a=home [NC,L]
RewriteRule ^login?$ index.php?a=login [NC,L]
RewriteRule ^logout?$ index.php?a=logout [NC,L]

RewriteRule ^users/new/?$ index.php?a=user_new [NC,L] 
RewriteRule ^users/([0-9]+)/?$ index.php?a=user_view&id=$1 [NC,L] 
RewriteRule ^users/?$ index.php?a=user_list [NC,L] 
RewriteRule ^users/page/([0-9]+)/?$ index.php?a=user_list&page=$1 [NC,L] 
